
<div class="row">
    <div class="col-md-3">
      <div class="container">
        <div class="row flex-nowrap">
          <div class="" style="background-color: #F5F5F5;">
            <div class="d-flex flex-column   min-vh-100">
                <h2 class="">Dashboard</h2>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                  <i class="fs-4 bi-house"></i>
                  <a class="nav-link" routerLink="action"><span class="left-menu">Dashboard</span></a>
              </li>
              <li class="nav-item">
                <i class="fs-4 bi-house"></i>
                <a class="nav-link" routerLink="action"><span class="left-menu">Submit reqest</span></a>
            </li>
                <li class="nav-item">
                    <i class="fs-4 bi-house"></i>
                    <a class="nav-link" routerLink="action"><span class="left-menu">Leave balance summery</span></a>
                </li>
                <li class="nav-item">
                  <i class="fs-4 bi-house"></i>
                  <a class="nav-link" routerLink="about"><span class="left-menu">Holiday list</span></a>
              </li>
              <li class="nav-item">
                <i class="fs-4 bi-house"></i>
                <a class="nav-link" routerLink="about"><span class="left-menu">Apply fro leave</span></a>
            </li>
            <li class="nav-item">
              <i class="fs-4 bi-house"></i>
              <a class="nav-link" routerLink="about"><span class="left-menu">AApply for Attandance</span></a>
          </li>
          <li class="nav-item">
            <i class="fs-4 bi-house"></i>
            <a class="nav-link" routerLink="about"><span class="left-menu">AApply for Leave cancel</span></a>
        </li>
        <li class="nav-item">
          <i class="fs-4 bi-house"></i>
          <a class="nav-link" routerLink="about"><span class="left-menu">Leave Planner</span></a>
      </li>
      <li class="nav-item">
        <i class="fs-4 bi-house"></i>
        <a class="nav-link" routerLink="about"><span class="left-menu">user guide</span></a>
    </li>

              </ul>
              <hr>
              <div class="dropdown pb-4">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                  id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                  <span class="d-none d-sm-inline mx-1">loser</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>



