<section class=" wrapper">
  <div class="createemp-heading">
    <div class="container bread-cumb">
    <p>Home/Edit Employee Id</p>
    </div>
  </div>
  <div class="cemp-id-login">
    <form>
      <div class="mb-3 ">
        <label for="username"> Enter Username:</label>
        <input type="text" class="form-control  form-control-lg" id="text" >
      </div>
      <div class="mb-3 ">
        <label for="email"> Enter Email:</label>
        <input type="email" class="form-control  form-control-lg" id="email" >
      </div>
      <div class="mb-3 ">
        <label for="phone"> Enter phone:</label>
        <input type="number" class="form-control  form-control-lg" id="phone" >
      </div>
      <div class="mb-3 ">
        <label for="address"> Enter address:</label>
        <input type="text" class="form-control  form-control-lg" id="address" >
      </div>
      <div class="mb-3">
        <label for="pwd">Enter Password:</label>
        <input type="password" class="form-control  form-control-lg" id="pwd"  name="pswd">
      </div>
      <button type="submit" class="btn btn-primary button-control-lg">Edit employee Id</button>
    </form>
  </div>

</section>

