.home-heading
{

  background-color: rgb(56, 56, 155) ;
  color: white;
  padding: 8px;
  text-align: center;
}
.home-heading h4{
  font-size: 20px;

}
.home-login{

  background-color: rgb(242, 242, 243);
  border-radius: 15px;
  padding: 35px;
  max-width: 500px;
  margin: 0px auto;
  margin-top: 80PX;

}
.btn{
  text-align: center;

}

