<div class="banner">
  <img src="../../assets/images/banner.jpg" alt="">

</div>
<section class="home">
  <div class="home-heading">
    <h4>Employee Management System</h4>
  </div>
  <div class="home-login">
    <form>
      <div class="mb-3 ">
        <label for="username"> Enter Username:</label>
        <input type="email" class="form-control  form-control-sm" id="email" name="email">
      </div>
      <div class="mb-3">
        <label for="pwd">Enter Password:</label>
        <input type="password" class="form-control  form-control-sm" id="pwd"  name="pswd">
      </div>
      <button type="submit" class="btn btn-primary button-control-lg">Submit</button>
    </form>
  </div>
</section>


